# This is Git's per-user configuration file.
[user]
	name = mnagaa
	email = m.nagahama.rec@gmail.com
[color]
	ui = always
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[branch]
	sort = -committerdate
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[url "https://"]
	insteadOf = git://

