# This is Git's per-user configuration file.
[user]
	name = mnagaa
	email = s.c.x0x0www10@icloud.com
[color]
	ui = always
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[pull]
	rebase = false
[init]
	defaultBranch = main
[fetch]
	prune = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[url "https://"]
	insteadOf = git://
